{
  "plugins": [
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-transform-modules-commonjs",
    "babel-plugin-styled-components"
  ],
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "ignore": ["**/*test.js", "**/stories.js"]
}
